<!-- <div id="catalogue">
            <% items.forEach(item=> { %>
                <div class="flex items-center border-8 justify-between mb-4">
                    <div>
                        <div>
                            <%= item.type %>
                        </div>
                        <div>
                            <%= item.name %>
                        </div>
                        <div>₹<%= item.price %>
                        </div>
                        <div>
                            <%= item.description %>
                        </div>
                    </div>
                    <div class="flex flex-col items-center">
                        <img src="<%= item.image %>" alt="<%= item.name %>" class="h-28 object-cover w-52 rounded-md">
                        <button
                            class="h-10 w-min m-3 rounded-md bg-[#4CAF50] px-8 text-sm font-medium text-white shadow-sm transition-colors hover:bg-[#43a047]">Add</button>
                    </div>
                </div>
                <% }) %>
        </div> -->